<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Clip Finder</title>
</head>
<body>
    {% block content %}
    <form action="#" method="post">
        <p><input type="text" id="clip" placeholder="LiveStream Link" name="video_link"></p>
        <p><input type="text" id="keyword" placeholder="Add a keyword (seperated by comma)" name="keywords"></p>
        <p><input type="submit" value="Sumbit"/></p>
    </form>
    {% endblock %}
    <center><table border="1">
    {% for i in range(images|length) %}
            <COLGROUP>
            <COL width="100"><COL width="100">
            <THEAD>
            <tr>
                <td><center>{{i}}.</center></td>
                <td><center>{{names[i]}}</center></td>
                <td><center><img src={{  images[i] }} alt="Sorry, No Display!" border="0"/></center></td>
                <td><center><a href = {{ links[i] }}> Click here </a></center></td>
                <td><center><p> {{ chats[i] }} </p></center></td>
            </tr>
    {% endfor %}   
    </table></center>
</body>
</html>